* {
    box-sizing: border-box;
}
html, body {
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.87);
    background-color: #FFFFFF;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
section {
    margin-bottom: 85px;
}
p {
    font-size: 18px;
    line-height: 28px;
}
.container {
    padding: 0 100px;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;

}
.header {
    padding: 50px 0;
    background-color:rgba(66, 74, 87, 1);
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    flex-shrink: 0;
}
.header__menu-list {
    display: flex;
    list-style-type: none;
}
.header__menu-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #E1E1E1;
    margin-left: 32px;
    text-decoration: none;
    transition: color 0.15s;
}
.header__menu-link:hover {
    color: #0096A7;
}
.hero {
    background-color: rgba(246, 248, 251, 0.9);
    padding: 100px 0;
}
.hero__content {
    display: flex;
    align-items: center;
}
.hero__figure {
    width: 50%;
    height: 450px;
    margin-right: 60px;
    margin-left: 0;
    background: #D9D9D9;
    border-radius: 4px;
}
.hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 4px;
}
.hero__text {
    width: 50%;
}
.hero__title {
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    color: #424A57;
}
.hero__subbtitle {
    margin-top: 32px;
    font-weight: 400;
    font-size: 27px;
    line-height: 38px;
}
.hero__button {
    background-color: #0096A7;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    align-items: center;
    padding: 16px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.15s;
}
.hero__button:hover {
    background-color: #004850;
}
.hero__button:active {
    background-color: #05dcf4;
}
.hero__dots {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}
.hero__dot {
     margin: 0 8px;
     width: 24px;
     height: 24px;
     border-radius: 50%;
     cursor: pointer;
     border: 4px solid #0096A7;
    transition: background-color 0.15s;
}
.hero__dot.active,
.hero__dot:hover {
    background: #0096A7;
}
.features__list {
    display: flex;
    align-items: flex-start;
}
.features__item {
     width: calc(100% / 3);
     display: flex;
     align-items: flex-start;
}
.features__item + .features__item {
    margin-left: 20px;
}
.features__item__icon {
    flex-shrink: 0;
    margin-right: 16px;
}
.feauters__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #424A57;
    margin-bottom: 14px;
    margin-top: 0;
}
.features__item-caption {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.benefits__container-list {
    display: flex;
    align-items: flex-start;
}
.benefits__container-item {
    width: calc(100% / 3);
    display: flex;
    align-items: flex-start;
}
.benefits__container-item + .benefits__container-item {
   margin-left: 20px;
}
.benefits__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #424A57;
    margin-bottom: 32px;
}
.benefits_figure {
    width: 100%;
    height: 317px;
    border-radius: 4px;
    margin-bottom: 32px;
    display: inline;
}
.benefits__figure-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.benefits_container-caption {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;  
}
.benefits_container-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #424A57;
    margin-bottom: 24px;
}
.footer {
    padding: 47px 0;
    background-color: rgba(66, 74, 87, 0.5);
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copyright {
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #FFFFFF;
}
.footer__menu-list {
    display: flex;
    list-style-type: none;
}
.footer__menu-link {
    margin-left: 24px;
    flex-shrink: 0;
}

@media (max-width: 700px) {
    .header__container {
        display: block;
    }
    .header__logo {
        display: block;
        margin: 0 auto;
    }
    .header__menu-list {
        display: block;
        text-align: center;
        padding: 0;
    }
    .header__menu-link {
        font-size: 16px;
        line-height: 15px;
        margin-left: 0;
    }
    .hero__figure {
        margin-top: 0;
    }
    .hero__text {
        width: 100%;
    }
    .hero__dot {
         width: 18px;
         height: 18px;
    }
    section {
        margin-bottom: 30px;
    }
    .features__list {
        display: block;
    }
    .features__item {
         width: 100%;
         display: block;
    }
    .features__item + .features__item {
        margin-left: 0;
    }
    .features__item__icon {
        margin-right: 10px;
        display: block;
        margin: 0 auto 15px auto;
    }
    .feauters__item-title {
        margin-bottom: 10px;
        text-align: center;
    }
    .features__item-caption {
        text-align: center;
    }
    .benefits__title {
        text-align: center;
    }
    .benefits__container-list {
        display: block;
    }
    .benefits__container-item {
        width: 100%;
    }
    .benefits__container-item + .benefits__container-item {
       margin-left: 0;
    }
    .benefits_container-caption {
        text-align: center; 
    }
    .benefits_container-title {
        text-align: center;
    }
}
@media (max-width: 925px) {
    .header {
        padding: 25px 0;
    }
    .header__menu-link {
        font-size: 18px;
        line-height: 24px;
        margin-left: 24px;
    }
    .container {
        padding: 0 20px
    }
    .hero__title {
        font-size: 24px;
        line-height: 24px;
        text-align: center;
    }
    .hero__subbtitle {
        margin-top: 25px;
        font-size: 24px;
        line-height: 24px;
    }
    .features__item__icon {
        width: 30px;
    }
    .feauters__item-title {
        font-size: 18px;
        line-height: 24px;
    }
    .features__item-caption {
        font-size: 16px;
        line-height: 24px;
    }
    .benefits__title {
        font-size: 35px;
        line-height: 24px;
        margin-bottom: 25px;
    }
    .benefits_figure {
        margin-bottom: 25px;
    }
    .benefits_container-caption {
        font-size: 16px;
        line-height: 24px;  
    }
    .benefits_container-title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 18px;
    }
    .footer__copyright {
        font-size: 18px;
        line-height: 24px;
    }
    .footer__menu-link {
        width: 25px;
        height: 25px;
    }
    .footer {
        padding: 0;
    }
}
@media (max-width: 1200px) {
    .hero {
        padding: 25px;
    }
    .hero__content {
        display: block;
    }
    .hero__container {
        padding: 0;
    }
    .hero__figure {
        width: auto;
        height: auto;
        margin-right: 0px;
        margin-bottom: 32px;
    }
    .hero__text {
        width: 100%;
    }
    .hero__button {
        margin: 25px auto;
    }
}

